# Environment variables
.env
.env.local

# Logs
*.log

# Runtime-generated data (auto-created by server.py on startup)
data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.venv/

# OS files
.DS_Store

# IDE
.vscode/
.idea/
